<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstApp</title>
    <link rel="stylesheet" href="app.component.css"> <!-- Link to your external CSS file -->
</head>
<body>
<body>
    <h1 class="welcome-text">Welcome</h1>
</body>
Name of the Project :<font [color]="myColor">{{projectTitle}}</font>
<!-- <button [disabled]="status" (click)="showData()">Click me</button><br>
<button [disabled]="status" (click)="showData()">Click me</button><br> -->

<input type="text" [(ngModel)]="name">{{name}}<br>
<app-book-detail></app-book-detail>
</body>
</html>
